{% extends 'coach/coach-index.html' %}

{% block body %}

<div class="col-12">
    <div class="card recent-sales overflow-auto">
    <div class="card-body">
        <h5 class="card-title">Football</h5>
        <table class="table table-hover datatable">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Player Name</th>
            <th scope="col">Position</th>
            <th scope="col">Team</th>
            </tr>
        </thead>
        <tbody>
            
            {% for i in data %}
            <tr>
            <th scope="row">#{{forloop.counter}}</a></th>
            <td>{{i.player_name}}</td>
            <td>{{i.position}}</td>
            <td>{{i.team}}</td>
            </tr> 
            {% endfor %}
            
        </tbody>
        </table>

    </div>
    </div>
</div>

{% endblock %}
