{% extends 'coordinator/coordinator-index.html' %}
{% block body %}


            <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Add New Player</h5>
                      <p>Enter the details of <code><b>Player</b></code> and press the submit button.</p>
                      <!-- Custom Styled Validation -->
                      <form class="row g-3 needs-validation" novalidate method="post">
                          {% csrf_token %}
                          <div class="col-md-6">
                              <label for="validationCustom01" class="form-label">Player name</label>
                              <input type="text" name="player_name" class="form-control" id="validationCustom01" required pattern="[A-Z a-z]{3,50}" placeholder="Enter name of player">
                              <div class="invalid-feedback">
                                  Please provide a  valid name.
                              </div>
                              <div class="valid-feedback">
                                  Looks good!
                              </div>
                          </div>
                          <div class="col-md-6">
                              <label for="validationCustom04" class="form-label">Role</label>
                              <select name="role" class="form-select" id="validationCustom04" required>
                                  <option selected disabled value="">Choose an option</option>      
                                  <option value="Batsman">Batsman</option>  
                                  <option value="Bowlers ">Bowlers </option>  
                                  <option value="Wicket-keeper">Wicket-keeper</option>  
                                  <option value="All-rounder">All-rounder</option>  
                              </select>
                              <div class="invalid-feedback">
                                  Please select a option.
                              </div>
                              <div class="valid-feedback">
                                  Looks good!
                              </div>
                          </div>
                          <div class="col-md-6">
                            <label for="validationCustom01" class="form-label">Contact info</label>
                            <input type="number" name="contact_info" class="form-control" id="validationCustom01" required pattern="[6789][0-9]{9}" placeholder="Enter phone number of player">
                            <div class="invalid-feedback">
                                Please provide a valid contact info.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                          <label for="validationCustom04" class="form-label">Batting Style</label>
                          <select name="batting" class="form-select" id="validationCustom04" required>
                              <option selected disabled value="">Choose an option</option>      
                              <option value="Left-handed">Left-handed</option>  
                              <option value="Right-handed">Right-handed</option>    
                          </select>
                          <div class="invalid-feedback">
                              Please select a option.
                          </div>
                          <div class="valid-feedback">
                              Looks good!
                          </div>
                      </div>
                      <div class="col-md-6">
                        <label for="validationCustom04" class="form-label">Bowling Style</label>
                        <select name="bowling" class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Choose an option</option>      
                            <option value="Left-handed">Left-handed</option>  
                            <option value="Right-handed">Right-handed</option>    
                        </select>
                        <div class="invalid-feedback">
                            Please select a option.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                          <div class="col-12">
                              <button class="btn btn-primary" type="submit">Submit form</button>
                          </div>
                      </form><!-- End Custom Styled Validation -->
      
                  </div>
              </div>
          </div>

{% endblock %}
