{% extends 'coordinator/coordinator-index.html' %}

{% block body %}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add Budget</h5>
            <p>Enter the details of <code><b>Budget</b></code> and press the submit button.</p>
            <!-- Custom Styled Validation -->
            <form class="row g-3 needs-validation" novalidate method="post">
                {% csrf_token %}
                <div class="col-md-6">
                    <label for="validationCustom04" class="form-label">Event</label>
                    <select name="event_name" class="form-select" id="validationCustom04" required>
                        <option selected disabled value="">Choose an option</option>      
                            {% for i in  filter %}

                            <option value="{{i.event_name}}">{{i.event_name}}</option>

                            {% endfor %} 
                    </select>
                    <div class="invalid-feedback">
                        Please select a option.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom01" class="form-label">Total Spending</label>
                    <input type="number" name="spending" class="form-control" id="validationCustom01" required placeholder="Enter total spending">
                    <div class="invalid-feedback">
                        Please provide a valid input.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom01" class="form-label">Date</label>
                    <input type="date" name="date" class="form-control" id="validationCustom01" required max="2023-05-11">
                    <div class="invalid-feedback">
                        Please provide a valid input.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom01" class="form-label">Location</label>
                    <input type="text" name="location" class="form-control" id="validationCustom01" required placeholder="Enter location">
                    <div class="invalid-feedback">
                        Please provide a valid input.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form><!-- End Custom Styled Validation -->

        </div>
    </div>
</div>

{% endblock %}