{% extends 'coordinator/coordinator-index.html' %}
{% block body %}


<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Individual Performance</h5>
                <p>Enter the details and press the submit button.</p>
                    <form class="row g-3 needs-validation" novalidate method="post">
                        {% csrf_token %}
                    <div class="col-md-6">
                        <label for="validationCustom04" class="form-label">Player Name</label>
                        <select name="name" class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Choose an option</option>
                            {% for i in  filter %}

                            <option value="{{i.id}}">{{i.player_name}}</option>
    
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            Please select a option.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom01" class="form-label">Goals Scored</label>
                        <input type="number" name="goal" class="form-control" id="validationCustom01" required placeholder="Enter goals scored">
                        <div class="invalid-feedback">
                            Please provide a valid input.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom01" class="form-label">Assists</label>
                        <input type="number" name="assists" class="form-control" id="validationCustom01" required placeholder="Enter assists">
                        <div class="invalid-feedback">
                            Please provide a valid input.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom01" class="form-label">Yellow Cards</label>
                        <input type="number" name="yellow" class="form-control" id="validationCustom01" required placeholder="Enter yellow cards received">
                        <div class="invalid-feedback">
                            Please provide a valid input.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom01" class="form-label">Red Cards</label>
                        <input type="number" name="red" class="form-control" id="validationCustom01" required placeholder="Enter red card received">
                        <div class="invalid-feedback">
                            Please provide a valid input.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </form><!-- End Custom Styled Validation -->
                </div>
    </div>
</div>

{% endblock %}
