{% extends 'coordinator/coordinator-index.html' %}

{% block body %}

<div class="col-12">
    <div class="card recent-sales overflow-auto">
    <div class="card-body">
        <h5 class="card-title">Match History</h5>
        <table class="table table-hover datatable">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Event Title</th>
            <th scope="col">Score</th>
            <th scope="col">Opponent</th>
            <th scope="col">Opponent Score</th>
            <th scope="col">Result</th>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            
            {% for i in data %}
            <tr>
            <th scope="row">#{{forloop.counter}}</a></th>
            <td>{{i.team_name}}</td>
            <td>{{i.event_name}}</td>
            <td>{{i.final_score}}</td>
            <td>{{i.opponent}}</td>
            <td>{{i.opponent_score}}</td>
            <td>{{i.result}}</td>
            <td>{{i.date}}</td>
            <td>{{i.location}}</td>
            </tr> 
            {% endfor %}
            
        </tbody>
        </table>

    </div>
    </div>
</div>

{% endblock %}